html,
body {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background-color: black;
  height: 95%;
  padding: 0 1rem;
  margin: 0;
}
h1,
p {
  margin: 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 99%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-item {
  width: 100%;
}
.error-code {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
}
.error-message {
    padding-top: 0.5rem;
}
footer {
  font-size: 0.4rem;
  font-weight: normal;
}
@media screen and (min-width: 600px) {
    html,
    body {
      font-size: 1.8rem;
    }
    .flex-item {
        width: 90%;
      }
}
@media screen and (min-width: 768px) {
    html,
    body {
      font-size: 2rem;
    }
    .flex-item {
        width: 80%;
      }
}
@media screen and (min-width: 1024px) {
  .flex-item {
    width: auto;
  }
  .error-code {
    padding-right: 1.5rem;
    padding-bottom: 0;
    border-right: 3px solid white;
    border-bottom: 0;
  }
  .error-message {
    text-align: left;
    padding-top: 0;
    padding-left: 1.5rem;
  }
}
